@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");


.logo {

    width: 70px;
    height: auto;
}

body {
  font-family: "Poppins", sans-serif !important;
}
              
.floating {

     animation: floating 3s ease-in-out infinite;
}
        
@keyframes floating {
        0% { transform: translate(0, 0px); }
        50% { transform: translate(0, -15px); }
        100% { transform: translate(0, 0px); }
}
        
.sticky-navbar {

    background-color: #fff !important;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.8) !important; 
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.8) !important;
}

.sticky-navbar a {
color: #000 !important;
}

.img-personal {
    width: 200px;
}